name: Update visual snapshots

on:
  workflow_dispatch: {}

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Install deps
        run: pnpm install

      - name: Install Playwright browsers
        run: pnpm exec playwright install --with-deps

      - name: Build storybook
        run: pnpm build-storybook --quiet

      - name: Serve storybook
        run: npx http-server storybook-static -p 6006 &

      - name: Update snapshots
        run: pnpm exec playwright test --update-snapshots

      - name: Upload new snapshots
        uses: actions/upload-artifact@v4
        with:
          name: visual-snapshots
          path: tests/visual/*-snapshots/**
